{% extends 'blogapp/index.html' %}
{% load static %}
{% block search %}
<div class="text-center">
{% include 'blogapp/messages.html' %}
    <br>
    <form action="" method="post" novalidate> {% csrf_token %}
        <div>
            <img  width="50px" height="50px" src="{% static 'blogapp/img/om1.jpeg' %}" alt="" srcset="">
            <h2 class="jhjjshjh">Brahman blogs</h2>
            <hr class="hrajsjak">
        </div>
        <div class="form-group1">
            {{ form.email }}
            <small class="errorr">{{form.email.errors|striptags}}</small>
        </div>
        <div class="form-group1">
            {{ form.password }}
            <small class="errorr">{{form.password.errors|striptags}}</small>
        </div>
        <div class="text-center">
            <button class="tm-btn tm-btn-primary tm-btn-small2">Login</button>                        
        </div>   
        <small><a href="{% url 'Resetpassword' %}">Forgot password?</a></small>                                
    </form>  
</div>  
<br>
{% endblock search %}

